<nav class="navbar navbar-expand-lg navbar-ligth bg-primary">
	<a class="navbar-brand" href="{{ path('home')}}">Sudoku Kai Chi</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<div class=" d-flex flex-column" >
			<span class="navbar-toggler-icon"></span>
			<span class="navbar-toggler-icon"></span>
			<span class="navbar-toggler-icon"></span>
		</div>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<div class=" content-nav d-flex justify-content-between">
			<div class="navbar-nav">
				<a class="nav-link active" href="{{ path('home')}}">Accueil <span class="sr-only">(current)</span></a>
				<a class="nav-link" href="{{ path('rules')}}">Règles du jeu</a>
				<a class="nav-link" href="{{ path('group_description')}}">Description du groupe</a>
				<a class="nav-link" href="{{ path('ranking')}}">Classement</a>
			</div>
			<div>
				{% if app.user %}
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>	
				{% else %}
					<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
