<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Sudoku Kai Chi</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="d-flex flex-row justify-content-start align-items-center navbar-nav w-100">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home')}}">Accueil
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('game_rules')}}">Règles du jeu</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('group_description')}}">Description du groupe</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('ranking')}}">Classement</a>
			</li>
			{% if app.user %}
				<li class="nav-item ml-auto">
					<a class="nav-link disabled" href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li class="nav-item ml-auto">
					<a class="nav-link disabled" href="{{ path('app_login') }}">Connexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
