{% extends 'base.html.twig' %}


{% block body %}

	{% for message in app.flashes('wrongAnswer') %}
		<div class="flash-message alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	<div class="d-flex justify-content-center mt-5">
		<form method="POST" name="sudoku_grid" id="sudoku_grid" action="{{ path('check_answer') }}">
			<input type="hidden" name="token" value="{{ csrf_token('check-answer') }}"/>
			<table class='grid'>
				{% for row_index, row in grid.initialStructure %}
					<tr class="form-group row">

						{% for cell_index, cell_value in row %}
							<td>
								{% if cell_value != 0 %}
									<input class="form-control" type="number" id="id_{{ row_index }}-{{ cell_index }}" name="cell_{{ row_index }}-{{ cell_index }}" value="{{ cell_value }}" readonly="readonly">
								{% else %}
									<input class="form-control" type="number" id="id_{{ row_index }}-{{ cell_index }}" name="cell_{{ row_index }}-{{ cell_index }}" min="1" max="9">
								{% endif %}
							</td>
						{% endfor %}

					</tr>

				{% endfor %}
				<input id="gridId" name="gridId" type="hidden" value="{{ grid.id }}">
			</table>
			<div class="d-flex justify-content-between mt-3 row">
				<input class="btn btn-lg btn-primary mb-3 me-md-3" form="sudoku_grid" type="submit" value="Valider">
				<a href="{{ path('grids') }}" class="btn btn-lg btn-outline-secondary mb-3">Changer de Grille</a>
			</div>
		</form>
	</div>

{% endblock %}
